@page "/"
@inherits EmployeeListBase
<h3>Selected Employees Count: @SelectedEmployeesCount</h3>
<div class="form-check">
    <input type="checkbox" class="form-check-input" @bind="ShowFooter" id="showFooter">
    <label class="form-check-label" for="showFooter">Show Footer</label>
</div>
<div class="card-deck">
    @if (Employees == null)
    {
        <div class="loader"></div>
    }
    else
    {
        @foreach (var employee in Employees)
        {
            @*<DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection "EmployeeSelectionChanged"></DisplayEmployee>*@
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged" OnEmployeeDeleted="EmployeeDeleted">
            </DisplayEmployee>
        }
    }
</div>